form div:nth-child(n) {
    display: flex;
    flex-direction: row;

}

td {
    padding: 2px;
    width: 90px;
}

td input {
    width: 90px;
}

.first tr:nth-last-child(1) td input {
    width: 10px;
}

.knoppen {
    margin: 20px 10px;
}

.knoppen input {
    padding: 5px 10px;
    margin: 0 2px;
}

table{
    border: black 1px solid;
    margin: 10px;
}