body {
    font-family: "Roboto Thin", "Roboto Light", "Arial Narrow";
    background-color: #4c5868;
    color: white;
}
h1 {
    color: #f5c789;
}

a {
    color: white;
    text-decoration: none;
}
a:hover {
    color: #f5c789;
    font-size: larger;
    text-decoration: none;
}

dl li {
    border: 1px solid white;
    border-radius: 15px;
    width: 200px;
    text-align: center;
    display: inline;
    grid-template-columns: auto auto auto auto auto;
    padding: 10px;
}

ol li:hover {
    color: #f5c789;
    font-size: larger;
    text-decoration: underline;
}

ol li {
    text-decoration: underline;
}

dl li:hover {
    background-color: #71695f;
    color: #f5c789;
}

table {
    table-layout: fixed;
    display: inline-block;
    width: 850px;
    border-collapse: collapse;
    text-align: center;
    margin: 10px;
}

tr td{
    border: 1px solid white;
    background-color: #2c3848;
    height: 30px;
    color: #cdcdcd;
}



tbody tr td:nth-child(1) {
    width: 220px;
}
tbody tr:nth-child(1) td:nth-child(2) {
    width: 50px;
}
tbody tr:nth-child(2) td:nth-child(2) {
    text-align: left;
    width: 350px;
}
tbody tr:nth-child(n+3) td:nth-child(1) {
    text-align: left;
}


